<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="message | async">
  <ion-item>
    <ion-icon aria-hidden="true" name="person-circle" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ (message | async)?.fromName }}
        <span class="date">
          <ion-note>{{ (message | async)?.date }}</ion-note>
        </span>
      </h2>
      <h3>To: <ion-note>ABC Corp. Ltd.</ion-note></h3>
    </ion-label>
  </ion-item>
  
  <div class="ion-padding">
    <h3>{{ (message | async)?.subject }}</h3>
    <ion-list>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>Importer</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label>Buyer's Bank: {{ (message | async)?.buyerBank }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Applicant: {{ (message | async)?.applicant }}</ion-label>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>Exporter</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label>Seller's Bank: {{ (message | async)?.sellerBank }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Beneficiary: {{ (message | async)?.beneficiary }}</ion-label>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>
